# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore npm debugging log files
npm-debug.log*

# Ignore VS Code configuration files
.vscode/

# Ignore any local development files or configurations
config.local.js
